*{
  margin: 0px;
}
.app{
  background-color:#fafafa;
}
.app__header{
  /* This property tells the content to fill the container 
  in a variety of ways; such as "preserve that aspect ratio" 
  or "stretch up and take up as much space as possible". In our case we
  are preserving the aspect ration
  */
  object-fit: contain;

  /* Ensures that the logo does not fit to the border*/
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

